<!-- 查看时间管理 -->
{extend name="base" /}
{block name="body"}
<div class="layui-card">
	<div class="layui-card-body">
		<div class="layui-btn-group">
			<a href="{:url('admin/Appointment/time')}" class="layui-btn"><i class="fa fa-plus-circle"></i> 添加时间规则</a>
		</div>
		<!-- <form action="{:url('admin/Appointment/look')}" class="layui-form" method="get">
			<div class="layui-form-item">
				<div class="layui-input-inline">
					<input name="time" type="date" placeholder="选择时间" autocomplete="off" value="" class="layui-input" />
				</div>

				<div class="layui-input-inline">
					<button class="layui-btn layui-btn-primary ajax-search"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</form> -->
		<!-- <div>本内容是今天的预约时间</div> -->
		<table class="layui-table layui-form">
			<thead>
				<tr>
					<th>ID</th>
					<th>开始时间</th>
					<th>结束时间</th>
					<th>剩余票数</th>
					<th>订单状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{foreach name="list" item="v" empty="$empty"}
				<tr>
					<td>{$v.id}</td>
					<td>{$v.begin}</td>
					<td>{$v.finish}</td>
					<td>{$v.ticket}</td>
					<td>
						<a href="{:url('admin/Appointment/timeup', array('id'=>$v['id'] , 'status'=> $v['status'] ) )}">
							{if $v.status eq 0}正常
							{else/}已销毁{/if}
						</a>
					</td>
					<td>
						<a href="{:url('admin/Appointment/time', ['id' => $v.id , 'up' => 1] )}"
							class="layui-btn layui-btn-xs layui-btn-normal"><i class="fa fa-edit"></i> 编辑</a>
						<a href="{:url('admin/Appointment/timedel', ['id' => $v.id])}"
							class="layui-btn layui-btn-xs layui-btn-danger ajax-delete"><i class="fa fa-trash-o"></i>
							删除</a>
					</td>
				</tr>
				{/foreach}
			</tbody>
		</table>
	</div>
</div>
{/block}