<!-- 订单统计 -->
{extend name="base" /}
{block name="body"}
<style>
.name{
    display: block;
    widows: 150px;

}

</style>
<div class="layui-card">
    <div class="layui-card-body">

        <form action="{:url('admin/Order/index')}" class="layui-form" method="get">
            <div class="layui-form-item">
                <div class="layui-input-inline">
                    <input type="date" name="date" value="{$time}" autocomplete="off" placeholder="选择日期"
                        class="layui-input">
                </div>
                <div class="layui-input-inline" style="width: 50px;">
                    <button class="layui-btn layui-btn-primary ajax-search"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <td style="width:50%;">总售票数:</td>
                            <td style="width:50%;">{$number} /张</td>
                        </tr>
                        {foreach name="all" item="v" empty="$empty"}
                        <tr>
                            <td>
                            <sapn class="name"> {$v.name}:</sapn>
                                <img src="{$v.img}" alt="{$v.name}" width="100px" height="45px">
                            </td>
                            <td>{$v.statistics} /张</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{/block}